{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<section class="login-section">
    <div class="pass-reset-form">
        <h2><i class="fa-solid fa-unlock" style="margin-right: 8px; color: #4b7bec;"></i>Set a New Password</h2>
        <p>Please enter your new password below.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>
    </div>
</section>
{% endblock %}